*{
    padding: 0;
    margin: 0;
    top: 0;
}
body{
background-image: url("Vit.jpg");
background-repeat: no-repeat;
background-size: cover;
}
/*  Header */
.head{
    
    background: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.heading h1{
    text-align: center;
    font-size: 3rem;
    display: block;
    text-transform: uppercase;
}
.heading{
    background-color:skyblue;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
    height: 12vh;
    width: 90vw;
}
.img_container img{
margin-bottom: .9rem;
margin-left: 0rem;
}

/* starting main */
.content_container{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 2rem;
margin-right: 2rem;
margin-left: 3rem;

}
li{
    color: rgb(5, 36, 36);
    font-size: 3rem;
    margin-left: 4rem;
    padding-bottom: 2rem;
}
.courses_books a{
    font-size: 3rem;
   
    text-decoration: none;
    color: rgb(53, 46, 11);

}
.courses_books{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
}
/*Starting form */
.reg_form{
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin: 3rem;

}

label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}
input{
    margin-bottom: 2rem;
    font-size: 1rem;

}
#username{
    margin-left: 2.2rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
}
#contact{
    padding-bottom: .2rem;
}
#mail{
    margin-left: 2rem;
    padding-right: .4rem;
    padding-bottom: .2rem;
}
#passwd{
    margin-right: .5rem;
    padding-bottom: .2rem;
}
#submit{
    background-image: linear-gradient(cyan,white);
    border-color: white;
    border-radius: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin:auto;
    display: block;
}
#contact{
    margin-left: 1rem;
}
/* starting list.html */
.offered-courses-books{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 80vw;
    height: 65vh;
    padding: 2rem 2rem 3rem 3rem;
    /* margin: 4rem; */
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.555);
}
.cour-books li a{
    font-size: 2rem;

    text-decoration: none;
    color: rgb(53, 46, 11);
}
.cour-books li{
    color: rgb(5, 36, 36);
    font-size: 3rem;
    margin-left: 4rem;
}

.refrence-books li a{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(53, 46, 11);
}
/* starting books.html */
.books-store{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cs-books{
    background-color: rgb(98, 122, 114);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap:wrap;
}